LearningNonLocalKernel_wLocConv_checkpoints/*
LearningNonLocalKernel_wRSDCTKernel_checkpoints/*
debugging/*
LearningLocalKernel_checkpoints/*
NonInteracting/*
Figure_1/*
Figure_2/*
Figure_3/*
Figure_4/*
DATA2d/*