LearningNonLocalKernel_wLocConv_checkpoints/*
LearningNonLocalKernel_wRSDCTKernel_checkpoints/*
debugging/*
LearningLocalKernel_checkpoints/*
NonInteracting/*
Figure_0/*
Figure_1/*
Figure_2/*
Figure_3/*
Figure_4/*
Figure_1d_1/*
Figure_1d_2/*
DATA2d/*
LearningLocalKernel2d_checkpoints/*
LearningNonLocalKernel2d_wDCTKernel_checkpoints/*
LearningSC2d_checkpoints/*
Notes/*
CLAUDE.md
Wigner_crystal.ipynb
Learning3d_checkpoints/*
Results_2D/*